# Pastas de compilação do .NET
bin/
obj/

# Arquivos de ferramentas e caches do C#
*.csproj.lscache
*.user
*.userosscache
*.sln.docstates

# Configurações do VS Code
.vscode/tasks.json
.vscode/launch.json
.vscode/hover.json